#!/bin/bash
watch_file uv.lock
if [[ ! -f .venv/bin/activate ]]; then
  uv sync --all-extras
fi
sed --in-place "s/include-system-site-packages = false/include-system-site-packages = true/" .venv/pyvenv.cfg
# shellcheck disable=SC1091
source .venv/bin/activate
